In [120]:
from scipy.io import loadmat
import os
import numpy as np
import h5py
import torch
dir_path="/home/amos/haitun/pycode/"#os.path.dirname(os.path.abspath())

# Open the MATLAB v7.3 file using h5py
dataset = h5py.File(os.path.join(dir_path,'source/matlab/savedData.mat'), 'r')

# Read the dataset from the file
sample_list = dataset['sample_list']
for samples_ref in sample_list[0]:
    dataset[samples_ref]

dataset[samples_ref]
# dataset_list = torch.tensor(dataset[:])
# # Close the file
# mat_file.close()

# np.array(dataset_list[0][0])

<HDF5 dataset "b": shape (1, 234), type "|O">
<HDF5 dataset "CA": shape (1, 175), type "|O">
<HDF5 dataset "oU": shape (1, 238), type "|O">
<HDF5 dataset "hlb": shape (1, 114), type "|O">
<HDF5 dataset "ayb": shape (1, 178), type "|O">
<HDF5 dataset "hSb": shape (1, 47), type "|O">
<HDF5 dataset "BXb": shape (1, 190), type "|O">
<HDF5 dataset "5ic": shape (1, 170), type "|O">
<HDF5 dataset "hCc": shape (1, 171), type "|O">
<HDF5 dataset "BVc": shape (1, 36), type "|O">
<HDF5 dataset "GZc": shape (1, 232), type "|O">
<HDF5 dataset "Tpd": shape (1, 198), type "|O">
<HDF5 dataset "gMd": shape (1, 36), type "|O">
<HDF5 dataset "lQd": shape (1, 247), type "|O">

In [74]:
print(dataset.size)

14

KeyError: 'trajectory_list'

In [56]:
np.save("test.npy",dataframe)

NameError: name 'np' is not defined

In [4]:
import numpy as np
import aeon
X=np.ones([5,6,7])
aeon.utils

In [7]:
from aeon.transformations.collection import DWTTransformer
import numpy as np
data = np.array([[[1,2,3,4,5,6,7,8,9,10]],[[5,5,5,5,5,5,5,5,5,5]]])
dwt = DWTTransformer(n_levels=20)
data2 = dwt.fit_transform(data)
data2.shape

(2, 1, 26)

In [3]:
from numba import njit
import random

@njit
def monte_carlo_pi(nsamples):
    acc = 0
    for i in range(nsamples):
        x = random.random()
        y = random.random()
        if (x ** 2 + y ** 2) < 1.0:
            acc += 1
    return 4.0 * acc / nsamples

monte_carlo_pi(5000)

3.1688

In [4]:
from tsfresh.examples import load_robot_execution_failures
from tsfresh import extract_features, select_features
df, y = load_robot_execution_failures()
X_extracted = extract_features(df, column_id='id', column_sort='time')
X_selected = select_features(X_extracted, y)

RuntimeError: The example data could not be found. You need to download the Robot Execution Failures LP1 Data Set from the UCI Machine Learning Repository. To do so, you can call the function tsfresh.examples.robot_execution_failures.download_robot_execution_failures

In [1]:
import pandas as pd
import numpy as np

# 假设你的向量列表是：
arrays = [np.random.randn(n, 5) for n in [5, 6, 7]]

dataframes = []

for i, array in enumerate(arrays):
    df = pd.DataFrame(array, columns=['time','value1', 'value2', 'value3', 'value4'])
    df['id'] = i  # 增加 'id' 列以区分不同的向量
    dataframes.append(df)

tsfresh_df = pd.concat(dataframes).reset_index(drop=True)
tsfresh_df

        time    value1    value2    value3    value4  id
0  -0.051528 -0.622899 -0.493729  0.334992 -0.136070   0
1   0.701175  0.848844 -0.926063 -0.885664 -0.577250   0
2   0.020899 -0.455523  0.711746  0.203163 -0.160336   0
3  -1.767689  0.236764 -1.100085  0.855486 -1.431458   0
4   0.052860  1.113244 -2.009596 -1.513696  2.591890   0
5   0.410447 -1.193081  0.572324 -0.000235 -1.254391   1
6  -0.211825  2.085861 -0.083606 -0.426466 -1.026804   1
7  -0.893872 -0.305426  1.844303  1.642932  0.385623   1
8   1.218785 -0.330900 -2.499035 -0.607639 -1.005751   1
9  -0.575716 -0.984035 -0.677772 -0.224939  0.630291   1
10  0.048878  0.593846 -0.439457 -0.385476 -1.021753   1
11 -0.054278 -0.394108  2.198100  1.009074  0.792728   2
12 -0.438530  0.825753 -1.130314 -1.748586  0.681760   2
13  0.627741  0.414462  0.026996  1.236474 -0.386848   2
14  0.852637  2.037951 -0.798815  0.958929  1.321713   2
15 -0.723188  0.194894 -2.757499 -1.229232 -0.506454   2
16 -0.562764 -0.325445 -0.332006  1.693312 -0.731875   2
17  1.024938 -2.214313  0.357640 -0.223216  0.818316   2

In [3]:
import numpy as np
import aeon    
import aeon.datasets
from aeon.datasets import write_to_tsfile
# 先创建一个空的列表来保存所有的数组
arrays = []

# 然后，创建10个数组
for _ in range(10):
    # 对于每一个数组，随机选择一个1到100的整数作为n
    n = np.random.randint(1, 101)
    
    # 然后，创建一个形状为(512, n)的数组
    array = np.random.rand(512, n)
    
    # 最后，将数组添加到列表中
    arrays.append(array)
aeon.datasets.write_to_tsfile(X=arrays,path="./dataset",y=list(range(10)),problem_name="haitun_TRAIN")